
html {
    box-sizing: "border-box"
  }

  .container {
    text-align: center;
    display: inline-block;
    margin: 0 auto 0 auto;
  }

  #header {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10em;
  }

  div {
    transition: all 3s 1s;
  }


  .circle1 {
    background: lightblue;
    border-radius: 50%;
    height: 150px;
    margin: 100px;
    position: absolute;
    transition: transform 0.8s;
    width: 150px;
      /*&:hover {
        transform: translate(20px, 20px);
    }*/
  }

  .circle2 {
    background: cornflowerblue;
    border-radius: 50%;
    height: 150px;
    margin: 100px;
    transition: transform 0.8s;
    position: absolute;
    width: 150px;
    
      /*&:hover {
        transform: translate(20px, 20px);
    }*/
  }

  .circle3 {
    background: royalblue;
    border-radius: 50%;
    height: 150px;
    margin: 100px;
    transition: transform 0.8s;
    position: absolute;
    width: 150px;
    
      /*&:hover {
        transform: translate(20px, 20px);
    }*/
  }
    

  .circle4 {
    background: blueviolet;
    border-radius: 50%;
    height: 150px;
    margin: 100px;
    transition: transform 0.8s;
    position: absolute;
    width: 150px;
/*    
      &:hover {
        transform: translate(20px, 20px);
        
    }*/
  }


  .circle5 {
    background:thistle;
    border-radius: 50%;
    height: 150px;
    margin: 100px;
    transition: transform 0.8s;
    position: absolute;
    width: 150px;
    
      /*&:hover {
        transform: translate(20px, 20px);
    }*/
  }
    

  .circle6 {
    background:navy;
    border-radius: 50%;
    height: 150px;
    margin: 100px;
    transition: transform 0.8s;
    position: absolute;
    width: 150px;
    
      /*&:hover {
        transform: translate(20px, 20px);
    }*/
  }

  p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkgray;
    font-size: 25px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
    letter-spacing: 1px;
    
  }
    p:hover {
      background-color: black;
    }

    #footer {
            width: 100%;
            background-color: white;
            position: fixed;
            bottom: 0;
        }
   .guidelines {
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 2em;
   }



body {
  background: #000000;
}
circle {
  fill: none;
  stroke-width: 5px;
}
rect {
  fill:none;
  stroke-width:10px;
}
svg:text {
  color: #ffffff;
}
.greenchange:hover {
  color:#74c476;
}
.purplechange:hover {
  color:#9e9ac8;
}
.bluechange:hover {
  color:#8ACFF6;
}
.greenshit {
  font-weight:200;
  font-size:20px;
}
.purpleshit{
  font-weight:200;
  font-size:20px;
}
.swagshit {
  font-weight:200;
  font-size:20px;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.header {
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: left;
  z-index: 1;
}
.controls {
  display: block;
  float: right;
  z-index: 3;
}
.header > *, .controls > * {
  display: inline-block;
}
.header, .controls {
  position: relative;
  opacity: 0.3;
  font-family: Lato; font-weight:200; color: white;
  transition:        opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition:    opacity 0.2s linear;
  -o-transition:      opacity 0.2s linear;
}
body.nocontrols .header, body.nocontrols .controls {
  opacity: 0;
}
.header:hover, .controls:hover {
  opacity: 1 !important;
}
#exported {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  left: 0;
  top: 0;
  resize: none;
  outline: none;
  font-family: monospace;
  font-size: 9px;
}

   
