
html {
    box-sizing: "border-box"
  }

  .container {
    text-align: center;
    display: inline-block;
    margin: 0 auto 0 auto;
  }

  #header {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10em;
  }

  div {
    transition: all 3s 1s;
  }


  .circle1 {
    background: lightblue;
    border-radius: 50%;
    height: 150px;
    margin: 100px;
    position: absolute;
    transition: transform 0.8s;
    width: 150px;
      /*&:hover {
        transform: translate(20px, 20px);
    }*/
  }

  .circle2 {
    background: cornflowerblue;
    border-radius: 50%;
    height: 150px;
    margin: 100px;
    transition: transform 0.8s;
    position: absolute;
    width: 150px;
    
      /*&:hover {
        transform: translate(20px, 20px);
    }*/
  }

  .circle3 {
    background: royalblue;
    border-radius: 50%;
    height: 150px;
    margin: 100px;
    transition: transform 0.8s;
    position: absolute;
    width: 150px;
    
      /*&:hover {
        transform: translate(20px, 20px);
    }*/
  }
    

  .circle4 {
    background: blueviolet;
    border-radius: 50%;
    height: 150px;
    margin: 100px;
    transition: transform 0.8s;
    position: absolute;
    width: 150px;
/*    
      &:hover {
        transform: translate(20px, 20px);
        
    }*/
  }


  .circle5 {
    background:thistle;
    border-radius: 50%;
    height: 150px;
    margin: 100px;
    transition: transform 0.8s;
    position: absolute;
    width: 150px;
    
      /*&:hover {
        transform: translate(20px, 20px);
    }*/
  }
    

  .circle6 {
    background:navy;
    border-radius: 50%;
    height: 150px;
    margin: 100px;
    transition: transform 0.8s;
    position: absolute;
    width: 150px;
    
      /*&:hover {
        transform: translate(20px, 20px);
    }*/
  }

  p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkgray;
    font-size: 25px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
    letter-spacing: 1px;
    
  }
    p:hover {
      background-color: black;
    }
    #footer {
            width: 100%;
            background-color: white;
            position: fixed;
            bottom: 0;
        }

    h6 {
      font-family: Georgia, 'Times New Roman', Times, serif;
     
    }
/*
  .circle1 {
    background: lightblue;
    height:100px;
    width:100px;
    border-radius:50%;
    
    position:relative;
    top:100px;
    left:300px;
    
    -webkit-transition:height .25s ease, width .25s ease;
    transition:height .25s ease, width .25s ease;
    
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
  }

  .circle2 {
    background: cornflowerblue;
     height:100px;
    width:100px;
    border-radius:50%;    
    position:relative;
    top:100px;
    left:300px;
  
    -webkit-transition:height .25s ease, width .25s ease;
    transition:height .25s ease, width .25s ease;
    
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
  }

  .circle3 {
    background: royalblue;
    height:100px;
    width:100px;
    border-radius:50%;
    
    position:relative;
    top:100px;
    left:300px;
    
    -webkit-transition:height .25s ease, width .25s ease;
    transition:height .25s ease, width .25s ease;
    
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
  }
    

  .circle4 {
    background: blueviolet;
    
     height:100px;
      width:100px;
      border-radius:50%;
      
      position:relative;
      top:100px;
      left:300px;
      
      -webkit-transition:height .25s ease, width .25s ease;
      transition:height .25s ease, width .25s ease;
      
      -webkit-transform:translate(-50%,-50%);
      transform:translate(-50%,-50%);
  }


  .circle5 {
    /*background:thistle;*/
    
    /*background-color: lightslategrey;
     height:100px;
    width:100px;
    border-radius:50%;
    
    position:relative;
    top:100px;
    left:300px;
    
    -webkit-transition:height .25s ease, width .25s ease;
    transition:height .25s ease, width .25s ease;
    
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
  }
    

  .circle6 {
    background:navy;
    height:100px;
    width:100px;
    border-radius:50%;
    
    position:relative;
    top:100px;
    left:300px;
    
    -webkit-transition:height .25s ease, width .25s ease;
    transition:height .25s ease, width .25s ease;
    
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
  }*/


/*
.emotions:hover {
  transform: translateX(-50%) scale(1.2);
}*/


/*.emotions:hover{
  height:150px;
  width:150px;
}
.emotions:before {
  -webkit-animation: ripple 2s linear infinite;
  animation: ripple 2s linear infinite;
}
.emotions:after {
  -webkit-animation: ripple 2s linear 1s infinite;
  animation: ripple 2s linear 1s infinite;
}

.emotions:hover:before,
.emotions:hover:after {
  -webkit-animation: none;
  animation: none;
}
@-webkit-keyframes ripple{
  0% {-webkit-transform:scale(1); }
  75% {-webkit-transform:scale(1.75); opacity:1;}
  100% {-webkit-transform:scale(2); opacity:0;}
}

@keyframes ripple{
  0% {transform:scale(1); }
  75% {transform:scale(1.75); opacity:1;}
  100% {transform:scale(2); opacity:0;}
}*/

/*@-webkit-keyframes ripple {
  20% {
    box-shadow: 0px 0px 0px 6px #fff,
                0px 0px 0px 8px navy;
  }
  
  50% {
    box-shadow: 0px 0px 0px 6px #fff,
                0px 0px 0px 8px #222,
                0px 0px 0px 14px #fff,
                0px 0px 2px 16px #888;
  }
  
  100% {
    box-shadow: 0px 0px 0px 6px #fff,
                0px 0px 0px 8px #222,
                0px 0px 0px 14px #fff,
                0px 0px 2px 16px #888, 
                0px 0px 0px 22px #fff,
                0px 0px 5px 24px #ddd;
  }
}*/


/*<style>
    body, html {
        text-align: center;
        font-size: 90px;
        font-family: Poiret One;
        height: 100%;
        background: -webkit-linear-gradient(315deg, #723362, #9d223c);
        background: linear-gradient(135deg, #723362, #9d223c);
        overflow: hidden;
        color: white;
    }
 
    .letter {
        position: relative;
        top: -webkit-calc(50% - 60px);
        top: calc(50% - 60px);
        text-shadow: 0px 0px 3px white;
    }
    .letter:nth-child(1) {
        -webkit-animation: fade 4s infinite 200ms;
        animation: fade 4s infinite 200ms;
    }
    .letter:nth-child(2) {
        -webkit-animation: fade 4s infinite 400ms;
        animation: fade 4s infinite 400ms;
    }
    .letter:nth-child(3) {
        -webkit-animation: fade 4s infinite 600ms;
        animation: fade 4s infinite 600ms;
    }
    .letter:nth-child(4) {
        -webkit-animation: fade 4s infinite 800ms;
        animation: fade 4s infinite 800ms;
    }
    .letter:nth-child(5) {
        -webkit-animation: fade 4s infinite 1000ms;
        animation: fade 4s infinite 1000ms;
    }
    .letter:nth-child(6) {
        -webkit-animation: fade 4s infinite 1200ms;
        animation: fade 4s infinite 1200ms;
    }
    .letter:nth-child(7) {
        -webkit-animation: fade 4s infinite 1400ms;
        animation: fade 4s infinite 1400ms;
    }
     .letter:nth-child(8) {
        -webkit-animation: fade 4s infinite 1600ms;
        animation: fade 4s infinite 1600ms;
    }
     .letter:nth-child(9) {
        -webkit-animation: fade 4s infinite 1800ms;
        animation: fade 4s infinite 1800ms;
    }
.container {
  margin: 100px;
}

.circle {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 10px;
  
  .container:hover & {
    transform: translateX(200px);
  }
}

.circle1 {
  @extend .circle;
  background: PaleTurquoise;
  transition: all 1.5s linear;
} 

.circle2 {
  @extend .circle;
  background: salmon;
  transition: all 1.5s ease;
}

.circle3 {
   @extend .circle;
  background: lightskyblue;
  transition: all 1.5s ease-in;
}

.circle4 {
  @extend .circle;
  background: khaki;
  transition: all 1.5s ease-out;
}

.circle5 {
  @extend .circle;
  background: mediumturquoise;
  transition: all 1.5s ease-in-out;
}

.circle6 {
  @extend .circle;
  background: thistle;
  transition: all 1.5s cubic-bezier(0,1,.98,0); 
}*/