.square1 {
  background: #00aa9d;
  border-radius: 3px;
  height: 150px;
  margin: 100px;
  position: absolute;
  transition: transform 0.8s;
  width: 150px;
}

.square2 {
  background: #2b3f53;
  border-radius: 3px;
  height: 150px;
  margin: 100px;
  transition: transform 0.8s;
  position: absolute;
  width: 150px;
  
    &:hover {
      transform: translate(20px, 20px);
  }
}

.square3 {
  background: navy;
  border-radius: 3px;
  height: 150px;
  margin: 100px;
  transition: transform 0.8s;
  position: absolute;
  width: 150px;
  
    &:hover {
      transform: translate(20px, 20px);
  }
}
  

.square4 {
  background: blueviolet;
  border-radius: 3px;
  height: 150px;
  margin: 100px;
  transition: transform 0.8s;
  position: absolute;
  width: 150px;
  
    &:hover {
      transform: translate(20px, 20px);
  }
}
  

.square5 {
  background: darkslateblue;
  border-radius: 3px;
  height: 150px;
  margin: 100px;
  transition: transform 0.8s;
  position: absolute;
  width: 150px;
  
    &:hover {
      transform: translate(20px, 20px);
  }
}
  

.square6 {
  background: darkslategray;
  border-radius: 3px;
  height: 150px;
  margin: 100px;
  transition: transform 0.8s;
  position: absolute;
  width: 150px;
  
    &:hover {
      transform: translate(20px, 20px);
  }
}
  
  